body {
    background-image: url("https://static.scientificamerican.com/blogs/cache/file/94F6C309-D83C-4982-99DB682A42B0ABA0_source.jpg?w=590&h=800&3CC992B4-0893-4276-847B101B5677329A");
    background-size: cover;
}

.jumbotron {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    opacity: 0.5;
    padding: 3% 3% 3% 3%;
}

.jum-container {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

.navbar-nav {
    /* margin-left: 21%;
    margin-right: 11%; */
    margin-left: 5%;
    margin-right: 3%;
}

.navbar li {
    margin-right: 230px;
}

.hover {
    text-decoration: underline;
    cursor: pointer;
}